@model IEnumerable<Pos.Web.Data.Entities.Categories>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Categorias</li>
        </ol>
    </nav>
</div>

<p>
    <a class="btn btn-info" asp-action="Create">Nueva categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.categoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.categoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryDescription)
            </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <form asp-action="Delete" asp-route-id="@item.Id" style="display:contents">
                        <button class="btn btn-danger btnDelete">Eliminar</button>
                    </form>
                </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>

        $(document).ready(function () {

            $('.btnDelete').click(function (event) {

                event.preventDefault();

                Swal.fire({
                    title: "¿Desea eliminar la categoria?",
                    text: "No prodrá revertirlo",
                    icon: "question",
                    showCancelButton: true,
                }).then((result) => {

                    if (result.isConfirmed) {

                        const form = $(this).closest('form');

                        form.submit();
                    }

                });

            });

        });

    </script>
}
