@inject Pos.Web.Services.IUsersService _usersService

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Home"
                                                ? "" : "collapsed")" asp-action="Dashboard" asp-controller="Home">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        @if (await _usersService.CurrentUserIsAuthorizedAsync("showEmployees", "Empleados"))
        {
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Customer"
                                               // && ViewContext.RouteData.Values["Action"].ToString() == "Index"
                                                ? "" : "collapsed")" asp-controller="Customer" asp-action="Index">
                    <i class="bi bi-grid"></i>
                    <span>Clientes</span>
                </a>
            </li>
        }

        @if (await _usersService.CurrentUserIsAuthorizedAsync("showRoles", "Roles"))
        {
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Roles"
                                               // && ViewContext.RouteData.Values["Action"].ToString() == "Index"
                                                ? "" : "collapsed")" asp-controller="Roles" asp-action="Index">
                    <i class="bi bi-shield-lock"></i>
                    <span>Roles</span>
                </a>
            </li>
        }
        
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Sales"
                                                //&& ViewContext.RouteData.Values["Action"].ToString() == "Index"
                                                ? "" : "collapsed")" asp-controller="Sales" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Ventas</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Categories"
                                                //&& ViewContext.RouteData.Values["Action"].ToString() == "Index"
                                                ? "" : "collapsed")" asp-controller="Categories" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Categorias</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Product"
                                                //&& ViewContext.RouteData.Values["Action"].ToString() == "Index"
                                                ? "" : "collapsed")" asp-controller="Product" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Productos</span>
            </a>
        </li>

        
            <li class="nav-item">
                <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Users"
                                                && ViewContext.RouteData.Values["Action"].ToString()=="Index"
                                                ? "" : "collapsed")" asp-controller="Users" asp-action="Index">
                    <i class="bi bi-file-person"></i>
                    <span>Usuarios</span>
                </a>
            </li>
        


    </ul>

</aside>